.headline {
    color: blue;
    font-size: 50px;
    background-color: ;
    font-weight:bold;
}

.footer {
    padding: 20px 0;
}

div#content {
    display: none;
}

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(static/loading.gif) no-repeat;
    cursor: wait;
}
